html,
body,
svg {
  overflow: hidden;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.d3-tip {
  pointer-events: none !important;
  background: white;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  font-family: "museo-sans";
  text-align: left;
  white-space: nowrap;
}

.d3-tip-header {
  font-size: 1.5em;
  font-weight: 700;
  color: #58595b;
}

.d3-tip-money {
  font-size: 1.33em;
  font-weight: 700;
  color: #2eb437;
}

.d3-tip-text {
  font-size: 1.33em;
  font-weight: 400;
  color: #58595b;
}

.data-image {
  pointer-events: none;
}
