.pending-donation-text {
  alignment-baseline: ideographic;
}

.total-sum-text {
  font-size: 2.4em;
  font-weight: bold;
}

.data-arc {
  stroke: white;
  stroke-width: 2px;
}

.coin-image {
  clip-path: url(#clip);
  transform-origin: bottom center;
}

#sdg-donut {
  position: relative;
  top: 0px;
  height: 100%;
}

#tooltip-tracker {
  pointer-events: none;
}
